html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
}
.btns {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 150px;
  margin-left: -75px;
  display: flex;
}
.btns .get-loader {
  background-color: transparent;
  border: 1px solid #f07444;
  color: #f07444;
  transition: all 0.2s ease 0s;
  width: 150px;
  margin: 0 5px;
  height: 45px;
  border-radius: 2px;
  cursor: pointer;
}
.btns .get-loader:hover {
  background-color: #f07444;
  color: #fff;
}
@-moz-keyframes horizontal-chunks {
  from, to {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes horizontal-chunks {
  from, to {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(1);
  }
}
@-o-keyframes horizontal-chunks {
  from, to {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(1);
  }
}
@keyframes horizontal-chunks {
  from, to {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(1);
  }
}
.preloader.horizontal-chunks {
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preloader.horizontal-chunks span {
  background: #fff;
  transform: scaleX(0);
  width: 25px;
  height: 10px;
  animation: horizontal-chunks 1.5s infinite forwards;
}
.preloader.horizontal-chunks span:nth-child(1) {
  animation-delay: 0.1s;
}
.preloader.horizontal-chunks span:nth-child(2) {
  animation-delay: 0.2s;
}
.preloader.horizontal-chunks span:nth-child(3) {
  animation-delay: 0.3s;
}
.preloader.horizontal-chunks span:nth-child(4) {
  animation-delay: 0.4s;
}
.preloader.horizontal-chunks span:nth-child(5) {
  animation-delay: 0.5s;
}
