@import "animations/horizontal-chunks"
@import "animations/successively-circles"
@import "animations/adventurous-circles"
@import "animations/running-line"
@import "animations/filled-circle"
@import "animations/download-arrow"
@import "animations/glass-line"
@import "animations/falling-numbers"