.btns
  position absolute
  left 50%
  top 20px
  width 150px
  margin-left -(@width/2)
  display flex
  .get-loader
    background-color transparent;
    border 1px solid #f07444;
    color #f07444;
    transition all 0.8s ease 0s;
    width 150px
    margin 0 5px
    height 45px
    border-radius 2px
    cursor pointer
    &:hover
      background-color #f07444;
      color white;
      transform scale(1.1)
