.preloader
  margin auto
  display flex
  justify-content space-between
  align-items center

  &.horizontal-chunks
    size = 150px
    width size
    height @width
    span
      background g-color
      transform scaleX(0)
      width (size / 6)
      height 10px
      animation horizontal-chunks 1.5s infinite forwards
      for i in (1..5)
        &:nth-child({i})
          animation-delay (i / 10)s

  &.successively-circles
    > div
      width 15px
      height 15px
      background rgba(240, 116, 68, .7)
      border-radius 50%
      margin 0 5px
      animation successively-circles 3s infinite
      for i in (1..5)
        &:nth-child({i})
          animation-delay (i / 10)s

  &.adventurous-circles
    size = 50px
    position relative
    width size
    height size
    > div
      position absolute
      top 50%
      width size
      height size
      margin-top -(size / 2)
      border-radius 50%
      animation-fill-mode forwards
    .sand
      background #FFCC99
      animation adventurous-circle-sand 4s linear infinite
    .goldenrod
      background rgba(0, 0, 0, 1)
      animation adventurous-circle-goldenrod 4s ease-in-out infinite
      animation-delay 1s
    .orange
      background #f07444
      animation adventurous-circle-orange 4s ease-in-out infinite
      animation-delay 2s

  &.running-line
    duration = 2.5s
    size = 1px

    display block
    width 35px
    height 35px
    position relative
    > div
      &:nth-child(1)
        animation running-line-1 duration linear infinite
        animation-fill-mode forwards
        width 100%
        transform-origin 0 0
        height size
        background #f07444
      &:nth-child(2)
        animation running-line-2 duration linear infinite
        animation-delay .3s
        animation-fill-mode forwards
        transform scaleY(0)
        height 100%
        width size
        position absolute
        transform-origin 0 0
        right 0
        background rgba(240, 116, 68, .75)
      &:nth-child(3)
        animation running-line-3 duration linear infinite
        animation-delay .6s
        animation-fill-mode forwards
        transform scaleX(0)
        height size
        width 100%
        position absolute
        right 0
        bottom -1px
        transform-origin 100% 0
        background rgba(240, 116, 68, .5)
      &:nth-child(4)
        animation running-line-4 duration linear infinite
        animation-delay .9s
        animation-fill-mode forwards
        transform scaleY(0)
        width 1px
        height 100%
        position absolute
        left -1px
        bottom 0
        transform-origin 0 100%
        background rgba(240, 116, 68, .25)

  &.filled-circle
    > div
      width 100px
      transform-origin 0 100%
      height 100px
      border-radius 50%
      background g-color
      position relative
      animation filled-circle 3s ease-out infinite
      &:before
        animation filled-circle-after 3s ease-out infinite
        position absolute
        content ""
        width 100%
        height 100%
        background #000000

















