@keyframes adventurous-circle-sand
  from, to
    transform scale(0)
  50%
    transform scale(1.2)

@keyframes adventurous-circle-goldenrod
  from, to
    transform scale(0.3)
  50%
    transform scale(1.2)

@keyframes adventurous-circle-orange
  from, to
    transform scale(0)
  50%
    transform scale(1.3)